<nav class="navbar navbar-default">
  <ul class="nav navbar-nav">
    <li><a href="#">Home</a></li>
    <li><a href="/committee-list">Committee List</a></li>
    <li><a href="/bill-list">Bill List</a></li>
    <li><a href="/upcoming-bills">Upcoming Bills</a></li>
  </ul>
</nav>
<div class="container">
  {{outlet}}
</div>
